@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 59% 10%;
    --card: 60 56% 96%;
    --card-foreground: 25 59% 10%;
    --popover: 60 56% 96%;
    --popover-foreground: 25 59% 10%;
    --primary: 120 61% 34%;
    --primary-foreground: 60 30% 98%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 25 59% 10%;
    --muted: 60 20% 85%;
    --muted-foreground: 60 10% 45%;
    --accent: 25 59% 40%;
    --accent-foreground: 60 30% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 120 61% 34%;
    --chart-1: 120 61% 34%;
    --chart-2: 25 59% 40%;
    --chart-3: 120 40% 50%;
    --chart-4: 25 40% 60%;
    --chart-5: 120 30% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 10% 8%;
    --foreground: 60 30% 90%;
    --card: 120 10% 12%;
    --card-foreground: 60 30% 90%;
    --popover: 120 10% 12%;
    --popover-foreground: 60 30% 90%;
    --primary: 120 61% 45%;
    --primary-foreground: 120 10% 98%;
    --secondary: 120 10% 20%;
    --secondary-foreground: 60 30% 90%;
    --muted: 120 10% 20%;
    --muted-foreground: 60 10% 60%;
    --accent: 25 59% 50%;
    --accent-foreground: 25 10% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 25%;
    --input: 120 10% 25%;
    --ring: 120 61% 45%;
    --chart-1: 120 61% 45%;
    --chart-2: 25 59% 50%;
    --chart-3: 120 40% 60%;
    --chart-4: 25 40% 70%;
    --chart-5: 120 30% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
